.body{
    background: #282828;
}

.login{
    color: white;
    margin-left: 69vw;
    margin-top: -35vh;
}

.illustration{
    margin-left: 8vw;
    margin-top: 14vh;
}

.reg{
    color: white;
    margin-top: 10vh;
    margin-left:15vw ;
}