<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/homepage.css">
    <link rel="stylesheet" href="../../css/navbar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
</head>

<body class="body">
    <div id="navbar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active link-text" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-text" href="company.php">Comapnies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-text" href="jobs.php">Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-text" href="service.php">service</a>
            </li>
        </ul>
    </div>

    <div class="job">
        <img src="../../images/service.jpeg">
        <h2>Find a service</h2>
        <p>
            Find the best avaiable <br> service there is on the <br>market
        </p>
    </div>

    <div class="seeking">
        <img src="../../images/job.jpeg" alt="">
        <h2>Find jobs</h2>
        <p>See which company is hiring </p>
    </div>


</body>

</html>