<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
</head>

<body class="body">
    <div id="navbar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active link-text" href="index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-text" href="company.html">Comapnies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-text" href="jobs.html">Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-text" href="service.html">service</a>
            </li>
        </ul>
    </div>
    <div class="indic">
        <p>Home > Service > Service name</p>
    </div>
    <div class="profile-img">
        <img src="../images/service.jpeg" alt="">
    </div>
    <div class="about">
        <h2>about:</h2>
        <textarea name="" id="" cols="130" rows="5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sodales nunc nec enim sodales rutrum et eget urna. Sed viverra consectetur sapien id venenatis. Phasellus elementum metus ut ornare elementum. Nunc tortor velit, suscipit a laoreet eget, porta vel ex. Donec ac sem felis. Nam eu hendrerit turpis. Vestibulum sodales euismod elit. Nulla pellentesque vel ligula in tincidunt. Pellentesque bibendum lacus sed molestie varius. Praesent quis congue enim. Donec et ornare metus. Quisque euismod nunc vel elit sollicitudin bibendum. Nullam lorem ligula, viverra et elit a, iaculis mattis enim. Aliquam lacinia nunc quis commodo dictum. 
        </textarea>
    </div>
    <div class="rating">
        <h2>Rating:</h2>
        <h4>3</h4>
    </div>
    <div class="contact">
        <h4 class="text-center"> contact</h4>
        <table>
            <tr><i class="fa fa-phone" aria-hidden="true"> N.V.T</i></tr>
            <tr></tr>
            <tr>
                <td> <i class="fa fa-envelope" aria-hidden="true"></i> service@gmail.com</td>
            </tr>
            <tr></tr>
            <tr>
                <td><i class="fa fa-street-view" aria-hidden="true"> N.V.T</i></td>
            </tr>
        </table>
    </div>
    <br>
    <hr>
    <div id="review_header">
        <h4>Reviews</h4>
    </div>
    <div class="review">
        <table>
            <tr>
                <td>niet vriendelijk</td>
            </tr>
            
            <tr>
                <td>te duur</td>
            </tr>
            <tr>
                <td>houdt niet aan afspraken</td>
            </tr>
        </table>
    </div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
</script>
</body>

</html>